<ons-page ng-controller="TestController as test">
  <ons-toolbar>
    <div class="left">
      <ons-back-button>Back</ons-back-button>
    </div>
    <div class="center">Navigation</div>
  </ons-toolbar>
  <pre>{{item|json}}</pre>
  <section style="padding: 10px">
    <ons-button ng-click="navi.pushPage('test.html')">
      Push Page
    </ons-button>

    <p>
      You have pushed {{ hola }}
    </p>
  </section>
</ons-page>
