<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="user-scalable=no, initial-scale=1, minimum-scale=1, width=device-width, height=device-height" />  
<meta http-equiv="Content-Security-Policy" content="default-src * data:; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
  <script src="components/loader.js"></script>
  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/angular/angular-resource.js"></script>
  <script src="lib/angular/angular-notify/angular-notify.min.js"></script>
  <script src="lib/onsenui/js/onsenui.min.js"></script>
  <script src="lib/onsenui/js/angular-onsenui.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.6.5/firebase.js"></script>
  <script src="lib/firebase/firebase_init.js"></script>



  <link rel="stylesheet" href="components/loader.css">
  <link rel="stylesheet" href="lib/onsenui/css/onsenui.css">
  <link rel="stylesheet" href="lib/onsenui/css/onsen-css-components.css">
  <link rel="stylesheet" href="css/style.css">

  <script src="js/controllers/main.js"></script>

<!--Default repositories!-->
  <script src="js/repository/register.js"></script>
  <!--Fin repositories!-->

  <!-- Controladors  -->
  <script src="js/controllers/test.js"></script>
  <!--Fin controladors!-->


  <!-- Hem d'afegir el plugin de whitelist -->

  <!--Default language!-->
  <script src="js/lang/lang_es.js"></script>

</head>
<body ng-app="bhromon">
  <ons-navigator
    var="navi"
    page="page.html"
    ng-controller="AppController as app"
    ons-postpush="app.pushes = app.pushes + 1"
    ons-postpop="app.pops = app.pops + 1">
  </ons-navigator>

  <ons-template id="page.html">
    <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Navigation</div>
      </ons-toolbar>

      <section style="padding: 10px">
        <ons-button ng-click="navi.pushPage('page.html')">
          Push Page
        </ons-button>
        <ons-button ng-click="hacerPush()">
          Hacer push
        </ons-button>

        <p>
          You have pushed {{ app.pushes }} times and popped {{ app.pops }} times.
        </p>
      </section>
    </ons-page>
  </ons-template>

</body>
</html>
